{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="d-grid gap-2">
                <button class="btn btn-warning" id="reset-progress" type="button">Reset progress</button>
            </div>
            <hr/>
        </div>
        <div class="col-md-8 offset-md-2 mt-2 mb-2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100" id="card-level-1">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 1 <i id="icon-level-1" class=""></i></h5>
                            <p class="card-text">Exploiter simplement la faille XSS</p>
                            <a href="/level/1" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="card-level-2">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 2 <i id="icon-level-2" class=""></i></h5>
                            <p class="card-text">Exploiter la faille sur un autre type de champ</p>
                            <a href="/level/2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="card-level-3">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 3 <i id="icon-level-3" class=""></i></h5>
                            <p class="card-text">Contourner les protections et exploiter la faille</p>
                            <a href="/level/3" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="card-level-4">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 4 <i id="icon-level-4" class=""></i></h5>
                            <p class="card-text">Exploiter la faille à travers une image</p>
                            <a href="/level/4" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="card-level-5">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 5 <i id="icon-level-5" class=""></i></h5>
                            <p class="card-text">Exploiter la faille afin de modifier l'arbre DOM</p>
                            <a href="/level/5" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2" id="full-completion">

        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="module" src="/js/home.js"></script>
{% endblock %}

